<mat-card class="no-airports-card">
  <img src="assets/not found.jpg" alt="" class="logo">
   
    <mat-card-header>
      <mat-card-title>No Available Flight</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Sorry There were no flights found for this route and date combination.
        we suggest you modify your search and try again.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
    </mat-card-actions>
  </mat-card>
