<div class="sidebar-wrapper">
    <div class="user-image-profile">
        <img src="assets/user.png">
    </div>
    
    <div class="sidebar-tabs">
        <!-- <span class="tab" (click)="navigateTo('home')">
            <i class="fas fa-home"></i> Home 
        </span> -->
    <div class="sidebar-tabs">
        <span class="tab" (click)="navigateTo('flight-booking')">
            <i class="fas fa-plane-departure"></i> Flight Booking 
        </span>
        <span class="tab" (click)="navigateTo('user-profile')">
            <i class="fas fa-user"></i> user-profile
        </span>
        <span class="tab" (click)="navigateTo('About')">
            <i class="fas fa-info-circle"></i> about us
        </span>
    </div>
</div>
