<div class="payment-container">
  <!-- Payment form, displayed only when OTP is not generated -->
  <div *ngIf="!showOtpForm">
    <mat-card>
      <h2>Payment</h2>

      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <label for="cardNumber">Card Number</label>
          <input matInput id="cardNumber" formControlName="cardNumber" autocomplete="cc-number" />
          <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('required')">Card number is required</mat-error>
          <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('pattern')">Invalid card number</mat-error>
        </mat-form-field>

        <div class="card-image-container">
          <img *ngIf="cardImage" [src]="cardImage" alt="Card Logo" />
        </div>

        <mat-form-field class="full-width">
          <label for="cardHolderName">Card Holder Name</label>
          <input matInput id="cardHolderName" formControlName="cardHolderName" autocomplete="cc-name" />
          <mat-error *ngIf="paymentForm.get('cardHolderName')?.hasError('required')">Card holder name is required</mat-error>
        </mat-form-field>

        <div class="form-group-inline">
          <mat-form-field class="half-width">
            <label for="expirationDate">Expiration Date</label>
            <input matInput id="expirationDate" formControlName="expirationDate" autocomplete="cc-exp" />
            <mat-error *ngIf="paymentForm.get('expirationDate')?.hasError('required')">Expiration date is required</mat-error>
            <mat-error *ngIf="paymentForm.get('expirationDate')?.hasError('pattern')">Invalid expiration date</mat-error>
          </mat-form-field>

          <mat-form-field class="half-width">
            <label for="cvv">CVV</label>
            <input matInput id="cvv" formControlName="cvv"  type="password" maxlength="3" autocomplete="cc-csc" />
            <mat-error *ngIf="paymentForm.get('cvv')?.hasError('required')">CVV is required</mat-error>
            <mat-error *ngIf="paymentForm.get('cvv')?.hasError('pattern')">Invalid CVV</mat-error>
          </mat-form-field>
        </div>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="paymentForm.invalid">Pay Now</button>
        </div>
      </form>
    </mat-card>
  </div>

  <!-- OTP input form, displayed only when OTP modal is active -->
  <div *ngIf="showOtpForm" class="otp-modal">
    <mat-card>
      <h2>OTP Verification</h2>
      <form [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
        <mat-form-field class="full-width">
          <label for="otp">Enter OTP</label>
          <input matInput id="otp" formControlName="otp"  autocomplete="one-time-code" />
          <mat-error *ngIf="otpForm.get('otp')?.hasError('required')">OTP is required</mat-error>
          <mat-error *ngIf="otpForm.get('otp')?.hasError('pattern')">Invalid OTP</mat-error>
          <mat-error *ngIf="otpForm.get('otp')?.hasError('incorrect')">Incorrect OTP</mat-error>
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="otpForm.invalid">Validate OTP</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
