<mat-card class="no-airports-card">
  <img src="https://media.istockphoto.com/id/182210605/photo/flight-over-the-usa.webp?b=1&s=170667a&w=0&k=20&c=dR4PuK5nFB-P06yrrKnfZ_pW5Za9MetLQQUDUDPV0_E=" alt="Logo" class="logo">
  <mat-card-header>
    <mat-card-title>No Airports Found</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Sorry There were no flights found for this route and date combination.
      we suggest you modify your search and try again.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
  </mat-card-actions>
</mat-card>


